
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2vh 2vh;
}
.main-container{
    display: grid;
    justify-content: center;    
}
.bgc-primary{
    background-color: #F7CCAC;

}
.profile-pic{
    width: 50px;
    height: auto;
}
.menu{
    width: 50px;
    height: auto;

}